##  Pandas Usage Overview

In [8]:
import os
print(os.getcwd())

/home/pracas/MACHINE LEARNING COURSE/Workshop/workshop_distro_sep2018

In [7]:
import pandas as pd

In [9]:
#### Reading from a csv file
df = pd.read_csv('https://raw.githubusercontent.com/pracasrv/machine-learning-getting-started-ws/master/data/Sample_Data.csv')
print(df)
print("#############################")

    Country   Age   Salary Purchased
0    France  44.0  72000.0        No
1     Spain  27.0  48000.0       Yes
2   Germany  30.0  54000.0        No
3     Spain  38.0  61000.0        No
4   Germany  40.0      NaN       Yes
5    France  35.0  58000.0       Yes
6     Spain   NaN  52000.0        No
7    France  48.0  79000.0       Yes
8   Germany  50.0  83000.0        No
9    France  37.0  67000.0       Yes
10    India   NaN  78000.0        No
11    India  28.0      NaN       Yes
12    Spain  36.0  56000.0       Yes
13   France  42.0  70000.0       Yes
14  Germany  50.0  86000.0        No
15    India  30.0  90000.0       Yes
#############################

#### Navigating through a Dataframe

In [10]:
### get the records numbering 4 to 7 - index start at 0
print(df[4:7]) 
print(df.iloc[4:7])
print("#############################")

   Country   Age   Salary Purchased
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
   Country   Age   Salary Purchased
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
#############################

In [11]:
#### get the country value for the 4th record
print(df['Country'][4])
print(df.Country[4])
print(df.iloc[4,0])
print(df.loc[4,'Country'])
print("#############################")

Germany
Germany
Germany
Germany
#############################

In [12]:
#### dropping columns
print(df)
print("#############################")
df = df.drop('Country',1)
print(df)
print("#############################")

    Country   Age   Salary Purchased
0    France  44.0  72000.0        No
1     Spain  27.0  48000.0       Yes
2   Germany  30.0  54000.0        No
3     Spain  38.0  61000.0        No
4   Germany  40.0      NaN       Yes
5    France  35.0  58000.0       Yes
6     Spain   NaN  52000.0        No
7    France  48.0  79000.0       Yes
8   Germany  50.0  83000.0        No
9    France  37.0  67000.0       Yes
10    India   NaN  78000.0        No
11    India  28.0      NaN       Yes
12    Spain  36.0  56000.0       Yes
13   France  42.0  70000.0       Yes
14  Germany  50.0  86000.0        No
15    India  30.0  90000.0       Yes
#############################
     Age   Salary Purchased
0   44.0  72000.0        No
1   27.0  48000.0       Yes
2   30.0  54000.0        No
3   38.0  61000.0        No
4   40.0      NaN       Yes
5   35.0  58000.0       Yes
6    NaN  52000.0        No
7   48.0  79000.0       Yes
8   50.0  83000.0        No
9   37.0  67000.0       Yes
10   NaN  78000.0        No
11  28.0      NaN       Yes
12  36.0  56000.0       Yes
13  42.0  70000.0       Yes
14  50.0  86000.0        No
15  30.0  90000.0       Yes
#############################

In [13]:
#### Adding Columns
df['Country'] = 'india'
print(df)

     Age   Salary Purchased Country
0   44.0  72000.0        No   india
1   27.0  48000.0       Yes   india
2   30.0  54000.0        No   india
3   38.0  61000.0        No   india
4   40.0      NaN       Yes   india
5   35.0  58000.0       Yes   india
6    NaN  52000.0        No   india
7   48.0  79000.0       Yes   india
8   50.0  83000.0        No   india
9   37.0  67000.0       Yes   india
10   NaN  78000.0        No   india
11  28.0      NaN       Yes   india
12  36.0  56000.0       Yes   india
13  42.0  70000.0       Yes   india
14  50.0  86000.0        No   india
15  30.0  90000.0       Yes   india

In [14]:
### dropping rows
print(df)
print("#############################")
df = df.drop(1,0)
print(df)
print("#############################")

     Age   Salary Purchased Country
0   44.0  72000.0        No   india
1   27.0  48000.0       Yes   india
2   30.0  54000.0        No   india
3   38.0  61000.0        No   india
4   40.0      NaN       Yes   india
5   35.0  58000.0       Yes   india
6    NaN  52000.0        No   india
7   48.0  79000.0       Yes   india
8   50.0  83000.0        No   india
9   37.0  67000.0       Yes   india
10   NaN  78000.0        No   india
11  28.0      NaN       Yes   india
12  36.0  56000.0       Yes   india
13  42.0  70000.0       Yes   india
14  50.0  86000.0        No   india
15  30.0  90000.0       Yes   india
#############################
     Age   Salary Purchased Country
0   44.0  72000.0        No   india
2   30.0  54000.0        No   india
3   38.0  61000.0        No   india
4   40.0      NaN       Yes   india
5   35.0  58000.0       Yes   india
6    NaN  52000.0        No   india
7   48.0  79000.0       Yes   india
8   50.0  83000.0        No   india
9   37.0  67000.0       Yes   india
10   NaN  78000.0        No   india
11  28.0      NaN       Yes   india
12  36.0  56000.0       Yes   india
13  42.0  70000.0       Yes   india
14  50.0  86000.0        No   india
15  30.0  90000.0       Yes   india
#############################

In [15]:
### Adding rows

print(df)
print("#############################")
df2 = df[4:7]
df = df.drop(4,0)
df = df.drop(5,0)
df = df.drop(6,0)

     Age   Salary Purchased Country
0   44.0  72000.0        No   india
2   30.0  54000.0        No   india
3   38.0  61000.0        No   india
4   40.0      NaN       Yes   india
5   35.0  58000.0       Yes   india
6    NaN  52000.0        No   india
7   48.0  79000.0       Yes   india
8   50.0  83000.0        No   india
9   37.0  67000.0       Yes   india
10   NaN  78000.0        No   india
11  28.0      NaN       Yes   india
12  36.0  56000.0       Yes   india
13  42.0  70000.0       Yes   india
14  50.0  86000.0        No   india
15  30.0  90000.0       Yes   india
#############################

In [16]:
print(df2)
print("#############################")
df = df.append(df2)
print(df)
print("#############################")

    Age   Salary Purchased Country
5  35.0  58000.0       Yes   india
6   NaN  52000.0        No   india
7  48.0  79000.0       Yes   india
#############################
     Age   Salary Purchased Country
0   44.0  72000.0        No   india
2   30.0  54000.0        No   india
3   38.0  61000.0        No   india
7   48.0  79000.0       Yes   india
8   50.0  83000.0        No   india
9   37.0  67000.0       Yes   india
10   NaN  78000.0        No   india
11  28.0      NaN       Yes   india
12  36.0  56000.0       Yes   india
13  42.0  70000.0       Yes   india
14  50.0  86000.0        No   india
15  30.0  90000.0       Yes   india
5   35.0  58000.0       Yes   india
6    NaN  52000.0        No   india
7   48.0  79000.0       Yes   india
#############################

In [17]:
#### Sorting
print(df)
print("#############################")
df1 = df.sort_values(by='Age', ascending = False)
print(df1)
print("#############################")

     Age   Salary Purchased Country
0   44.0  72000.0        No   india
2   30.0  54000.0        No   india
3   38.0  61000.0        No   india
7   48.0  79000.0       Yes   india
8   50.0  83000.0        No   india
9   37.0  67000.0       Yes   india
10   NaN  78000.0        No   india
11  28.0      NaN       Yes   india
12  36.0  56000.0       Yes   india
13  42.0  70000.0       Yes   india
14  50.0  86000.0        No   india
15  30.0  90000.0       Yes   india
5   35.0  58000.0       Yes   india
6    NaN  52000.0        No   india
7   48.0  79000.0       Yes   india
#############################
     Age   Salary Purchased Country
8   50.0  83000.0        No   india
14  50.0  86000.0        No   india
7   48.0  79000.0       Yes   india
7   48.0  79000.0       Yes   india
0   44.0  72000.0        No   india
13  42.0  70000.0       Yes   india
3   38.0  61000.0        No   india
9   37.0  67000.0       Yes   india
12  36.0  56000.0       Yes   india
5   35.0  58000.0       Yes   india
2   30.0  54000.0        No   india
15  30.0  90000.0       Yes   india
11  28.0      NaN       Yes   india
10   NaN  78000.0        No   india
6    NaN  52000.0        No   india
#############################

In [18]:
#### Boolean Indexing
print(df)
print("#############################")
df.loc[df['Age']>40,'Salary'] = 0 #### Replace Salary as zero in rows where Age value is greater than 40
print(df)
print("#############################")
df.loc[((df['Age']>40) & (df['Country']=='Germany')),'Salary'] = 0 ##### Multiple Conditions
print(df)
print("#############################")
df.loc[((df['Age']>40) & (df['Country']=='France')),['Salary','Age']] = 0 ##### Multiple Conditions
print(df)
print("#############################")

     Age   Salary Purchased Country
0   44.0  72000.0        No   india
2   30.0  54000.0        No   india
3   38.0  61000.0        No   india
7   48.0  79000.0       Yes   india
8   50.0  83000.0        No   india
9   37.0  67000.0       Yes   india
10   NaN  78000.0        No   india
11  28.0      NaN       Yes   india
12  36.0  56000.0       Yes   india
13  42.0  70000.0       Yes   india
14  50.0  86000.0        No   india
15  30.0  90000.0       Yes   india
5   35.0  58000.0       Yes   india
6    NaN  52000.0        No   india
7   48.0  79000.0       Yes   india
#############################
     Age   Salary Purchased Country
0   44.0      0.0        No   india
2   30.0  54000.0        No   india
3   38.0  61000.0        No   india
7   48.0      0.0       Yes   india
8   50.0      0.0        No   india
9   37.0  67000.0       Yes   india
10   NaN  78000.0        No   india
11  28.0      NaN       Yes   india
12  36.0  56000.0       Yes   india
13  42.0      0.0       Yes   india
14  50.0      0.0        No   india
15  30.0  90000.0       Yes   india
5   35.0  58000.0       Yes   india
6    NaN  52000.0        No   india
7   48.0      0.0       Yes   india
#############################
     Age   Salary Purchased Country
0   44.0      0.0        No   india
2   30.0  54000.0        No   india
3   38.0  61000.0        No   india
7   48.0      0.0       Yes   india
8   50.0      0.0        No   india
9   37.0  67000.0       Yes   india
10   NaN  78000.0        No   india
11  28.0      NaN       Yes   india
12  36.0  56000.0       Yes   india
13  42.0      0.0       Yes   india
14  50.0      0.0        No   india
15  30.0  90000.0       Yes   india
5   35.0  58000.0       Yes   india
6    NaN  52000.0        No   india
7   48.0      0.0       Yes   india
#############################
     Age   Salary Purchased Country
0   44.0      0.0        No   india
2   30.0  54000.0        No   india
3   38.0  61000.0        No   india
7   48.0      0.0       Yes   india
8   50.0      0.0        No   india
9   37.0  67000.0       Yes   india
10   NaN  78000.0        No   india
11  28.0      NaN       Yes   india
12  36.0  56000.0       Yes   india
13  42.0      0.0       Yes   india
14  50.0      0.0        No   india
15  30.0  90000.0       Yes   india
5   35.0  58000.0       Yes   india
6    NaN  52000.0        No   india
7   48.0      0.0       Yes   india
#############################

In [19]:
#### Other Data Series Information
print(df.info()) #### Get general information about the dataset
print("#############################")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 7
Data columns (total 4 columns):
Age          13 non-null float64
Salary       14 non-null float64
Purchased    15 non-null object
Country      15 non-null object
dtypes: float64(2), object(2)
memory usage: 600.0+ bytes
None
#############################

In [20]:
#### Other Data Series Information
print(df.describe()) ### Get an overall summary of counts, quantiles
print("#############################")

             Age        Salary
count  13.000000     14.000000
mean   39.692308  36857.142857
std     7.878077  34525.034714
min    28.000000      0.000000
25%    35.000000      0.000000
50%    38.000000  53000.000000
75%    48.000000  60250.000000
max    50.000000  90000.000000
#############################