In [1]:
#!/usr/bin/env python3
#### Import all the required libraries
import pandas as pd #### Library for working with large datsets
import numpy as np #### Library for performing numerical calculations
import seaborn as sns #### Library for plotting graphs. This is a layer on top of matplotlib
import matplotlib.pyplot as plt #### Basic Library for plotting graphs
#### Configuring Matplotlib to show Plots inline
%matplotlib inline 
plt.rcParams['figure.figsize'] = (12, 12) ### Setting the size of the Plots

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
#### Load the Data File
data = pd.read_csv('https://raw.githubusercontent.com/pracasrv/machine-learning-getting-started-ws/master/data/Sample_Data.csv')
print(data)

In [ ]:
#### Check the General Information about the loaded dataset
print(data.info()) ### Float

In [ ]:
#### Check Data Description Overview
print(data.describe())

#### ##### Handling Missing Values - We have missing Values in 2 Columns Age & Salary

In [ ]:
#### Lets fix the missing Age with respect to the Mean value for Age
mean = np.mean(data.Age)
data.Age = data.Age.fillna(mean)
print(data)

In [ ]:
#### Lets use an inbuilt function interpolate to fix the salary mixing values
data.Salary = data.Salary.interpolate()

In [ ]:
print(data)

#### ####  - Lets See How a Pair of Variables is distributed in relation to each other

In [ ]:
#### Lets use a scatter plot to see how Age and Salary are distributed
data.plot.scatter(x='Age', y='Salary')

In [ ]:
### lets drop all the dummy data we added - the last 6 records
data = pd.read_csv('Sample_Data.csv')
data = data[:-6]
print(data)

In [ ]:
#Lets compute mean of the missing values
#### by their respective countries and see how the graph comes out
mean_ages = data.groupby('Country').Age.mean()

data.Age = data.Age.fillna(mean_ages.Spain)
print(data)

In [ ]:
mean_salary = data.groupby('Country').Salary.mean()
data.Salary = data.Salary.fillna(mean_salary.Germany)
print(data)

In [ ]:
data.plot.scatter(x='Age', y='Salary')

###  One Hot Encoding
Replace categorical values by creating new columns and creating a binary representation

##### Lets replace the Country Values with their corresponding one hot encoded values

In [16]:
#### First lets extract the one hot encoded columns into a new data_frame called one_hot
one_hot_data = pd.get_dummies(data['Country'])
print(one_hot_data)

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       0        1      0
3       0        0      1
4       0        1      0
5       1        0      0
6       0        0      1
7       1        0      0
8       0        1      0
9       1        0      0

In [17]:
#### Next lets drop the country row from our data frame
data = data.drop('Country',1)
#### and add the new dataframe to our existing dataframe
data = data.join(one_hot_data)
print(data)

    Age   Salary Purchased  France  Germany  Spain
0  44.0  72000.0        No       1        0      0
1  27.0  48000.0       Yes       0        0      1
2  30.0  54000.0        No       0        1      0
3  38.0  61000.0        No       0        0      1
4  40.0  68500.0       Yes       0        1      0
5  35.0  58000.0       Yes       1        0      0
6  32.5  52000.0        No       0        0      1
7  48.0  79000.0       Yes       1        0      0
8  50.0  83000.0        No       0        1      0
9  37.0  67000.0       Yes       1        0      0